html {
    background-image: url(https://img.freepik.com/free-vector/pastel-coloured-herringbone-pattern-design_1048-18857.jpg);
}

.container {
    background-color: rgb(180, 133, 180);
    border-radius: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}